body {
    background-color: pink;
    font: arial;
  }
  
  h1 {
    color: navy;
    text-align: center
  }
  h2 {
      color : green
  }
  table {
    border-collapse: collapse;
    border: 1px solid black;
  } 
  
  th,td {
    border: 1px solid black;
  }
  table.a {
      color: white;
      table-layout: fixed;
      text-align: center;
      width: 100%;

  }
  p.center { text-align: center}
  